*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 80px;
}
a,button,li{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    outline: none;
}
li{
    display: inline;
    margin: 0px 10px;
}
nav ul li a:hover{
    color: black;
    transition: .5s ease-in-out;
}
.inner{
    margin-right: auto;
    border-radius: 50%;

}
button{
    border-radius: 50px;
    padding: 10px 10px;
    background-color: skyblue;
    cursor: pointer;
}
.warp{
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
}
.warp::before{
    position: absolute;
    content: "";
    background-color: linear-gradient(to right,rgba(32,40,119,0,95),rgba(55,46,149,0,95),rgba(83,49,177,0,90),rgba(114,48,205,0.85),rgba(150,41,230,0.95));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
}
.content h1{
    margin-bottom: 40px;
    text-transform: uppercase;

}
button:hover{
    background-color: black;
    color: white;
}

.btn{
    margin-top: 40px;
}
p{
    margin-bottom: 20px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    width: 90%;
}
footer{
    display: flex;
    align-items: center;
}

.btn-social{
    padding-top: 40px;
    gap: 20px;
    cursor: pointer;
}
.bg-facebook{
    background-color: blue;
    padding: 10px 15px;
    border-radius: 50px;
}
.bg-youtube{
    background-color:#ff0000;
    padding: 10px 15px;
    border-radius: 50px;
}
.bg-instagram{
    background-color:#c13584;
    padding: 10px 15px;
    border-radius: 50px;
}
.local{
    animation-name: ani;
    animation-duration: 4 s;
    animation-iteration-count: infinite;
}
@keyframes ani{
    0%{
        color:skyblue;
    }
    25%{
        color: red;
    }
    50%{
        color: yellow;
    }
    100%{
        color: palegreen;
    }
}