/* body{
    background-image: url(https://shorturl.at/CSDv2);
    background-size: cover;
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}