*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: relative;
    height: 500px;
    width: 75px;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.5) ;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 50px;
}
.name{
    position: absolute;
    left: 80px;
}

li:hover{
    background-color: black;
    color: white;
    width: 90;
    transition: .5s ease;
}
li span{
    padding: 15px;
}