{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>

<body>

    <input id="input" type="text" placeholder="write somthing">
    <div>
        
        <button onclick="getpending()">pending</button>
        <button onclick="getComplete()">complete</button>
    </div>
    <div id="block" class="container">

    </div>
    <div id="but"></div>
    <script src="{% static 'back.js' %}"></script>
</body>

</html>