

.flex-container{
   
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: auto;
    
    
}
.card{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
}
p{
    font-size: 25px;
    font-weight:bolder
}
article{
    padding: 30px;
}
button{
    height:30px;
    width: 85%;
    border: 2px solid black;
    outline: none;
    margin-bottom: 30px;
    border-radius: 50px;
}
.flex-container>.card{
    margin: 30px;
   
}
button:active{
    background-color: black;
    color: white;
}

.card:hover{
    box-shadow: 0px 0px  60px;
}
button:hover{
    box-shadow: 0px 0px 30px;
}